@import "../variables.scss";
@import "../animations.scss";

#header {

    position: sticky;
    width: 100%;
    background-color: $white;
    z-index: 20;

    animation: fade-in-down 1s ease forwards;
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.7rem 2.85rem 0.7rem 1.85rem;

        @media (width < 1000px) {
            justify-content: space-between;
        }
    }

    .logo {
        border: none;
        background-color: $white;
        height: auto;

        @media (width < 800px) {
            width: 2.5rem;
        }
        @media (width < 600px) {
            width: 2rem;
        }
    }

    .navigation-links {
        display: flex;
        flex-direction: row;
        gap: 3.95rem;
        align-items: center;
        justify-content: center;
        align-self: center;
        flex: 1;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @media (width < 1000px) {
            display: none;
        }

        .navigation-link {
            color: $header-gray-text;
            font-size: 1.125rem;
            font-weight: 400;
            background-color: transparent;
            border: none;
            padding: 0;

            &.active {
                color: $dark-green;
            }
        }
    }

    .mobile-menu {

        background-color: transparent;
        border: none;
        padding: 0;

        @media (width >= 1000px) {
            display: none;
        }

        svg {
            width: 25px;
            height: auto;

            path {
                fill: $footer-newsletter-border;
            }
        }
    }
}

#mobile-header {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding: 1.85rem 2.85rem;
    z-index: 30;

    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-duration: 1s;

    .close-mobile-menu {
        padding-bottom: 1rem;

        svg path {
            fill: $footer-newsletter-border;
        }
    }

    button {
        background-color: transparent;
        border: none;

        color: $header-gray-text;
        font-size: 1.25rem;
        font-weight: 400;
        background-color: transparent;
        border: none;
        padding: 0;
    }
}