@import "../variables.scss";
@import "../animations.scss";

.our-spaces-section {

    padding: 6.875rem 8.44rem;
    width: 100%;

    @media (width < 1250px) {
        padding: 6.875rem 5.44rem;
    }

    @media (width < 1000px) {
        padding: 5.44rem 2.44rem;
    }

    @media (width < 800px) {
        padding: 5.44rem 1.44rem;
    }

    .title-and-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 2rem;

        @media (width < 800px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .swiper {
        &.fade-in-right .swiper-pagination .swiper-pagination-bullet-active {
            animation-name: fade-in-right;
        }

        &.fade-in-left .swiper-pagination .swiper-pagination-bullet-active {
            animation-name: fade-in-left;
        }
    }

    .swiper-pagination {

        position: relative;
        padding-top: 2.31rem;

        .swiper-pagination-bullet {
            background-color: $header-gray-text;
            opacity: 1;
            height: 0.375rem;
            width: 0.375rem;
            border-radius: 50%;

            &.swiper-pagination-bullet-active {
                background-color: $dark-green;
                opacity: 1;
                height: 0.375rem;
                width: 2.375rem;
                border-radius: 3px;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
                animation-duration: 0.4s;
            }
        }
    }
}
