@import "../variables.scss";

button.section-nav-button {
    padding: 0.8rem 2.25rem 0.8rem 3.25rem;
    color: $dark-gray;
    font-size: 1.25rem;
    line-height: 1.625rem;
    background-color: $white;
    border: 1px solid $label-border-gray;
    border-radius: 15px;
    font-weight: 500;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (width < 1360px) {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    @media (width < 600px) {
        border: none;
        gap: 0.5rem;
        padding: 0.8rem 0;
    }

    .link-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.25rem;
    }

    .link-arrow {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0rem;
        transform: translateX(-100%);

        @media (width < 600px) {
            transform: none;
        }

        svg.dark-green-60 path {
            fill: $dark-green-60;
        }

        svg.dark-green path {
            fill: $dark-green;
        }
    }

    &:hover .link-arrow {
        transform: translateX(-50%);
        transition: 0.7s;
    }
}