@import "../variables.scss";

.offices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10.7rem 8.4rem;
    gap: 5rem;

    @media (width < 1300px) {
        padding: 10.7rem 7.7rem;
    }
    @media (width < 1150px) {
        padding: 10.7rem 5.7rem;
    }
    @media (width < 800px) {
        padding: 7.7rem 1.7rem;
        gap: 3rem;
    }

    .label-and-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 60%;
        gap: 2rem;

        @media (width < 900px) {
            width: 70%;
            gap: 1.5rem;
        }

        @media (width < 600px) {
            width: 90%;
        }
    }

    .offices-grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        gap: 2rem;

        @media (width < 650px) {
            gap: 1rem;
        }
    }

    .office-card {
        flex: 1 1 calc(calc(100% - 4rem) / 3);

        @media (width >= 1000px) {
            &:nth-child(1) {
                flex: 1 1 calc(calc(100% - 2rem) * 0.46);
            }
            &:nth-child(2) {
                flex: 1 1 calc(calc(100% - 2rem) * 0.51);
            }
        }

        @media (width < 1000px) {
            flex: 0 1 calc((100% - 2rem) / 2);
        }

        @media (width < 650px) {
            flex: 0 1 calc((100% - 1rem) / 2);
        }

        @media (width < 550px) {
            flex: 0 1 100%;
        }
    }
}