#terms-and-conditions {
    
    padding: 4rem 8.44rem 10rem 8.44rem;

    @media (width < 1300px) {
        padding: 4rem 7.7rem 10rem 7.7rem;
    }
    @media (width < 1150px) {
        padding: 2rem 5.7rem 8rem 5.7rem;
    }
    @media (width < 800px) {
        padding: 2rem 1.7rem 8rem 1.7rem;
    }
}