$gray: #757072;
$light-gray: #F9FAFB;
$dark-gray: #1E2C36;

$dark-green: #008D36;
$dark-green-30: rgba(#008d36, 0.3);
$dark-green-60: rgba(#008d36, 0.6);

$white: #FFFFFF;

$header-gray-text: #9B9395;

$border-gray: #E7E3E4;
$label-border-gray: #E6E2E3;

$homepage-links-bg: #F9F5F6;

$bg-element-color: #F6F6F6;
$bg-dot-color: #959595;

$red: #E21B1B;

$footer-bg: #22262F;
$footer-help-bg: #2D323E;
$footer-newsletter-border: #383E4D;
$footer-newsletter-border-error: #981313;
